 body {
    margin: 0;
    font-family: "Hiragino Kaku Gothic ProN";
  }
  
  a {
    text-decoration: none;
  }

  header h1{
    margin: 0 auto;
    text-align: center;
    color: rgb(192, 54, 25);
    width: 100%;
    font-size: 40px;
  }


.gallery {
    width:1170px;
    height: 1170px;
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-template-areas:
        "A A C C G H I J K L"
        "A A B B G H I J K L"
        "D D E E F F M N O P"
        "D D E E F F M N O P";
    gap:10px;
}

.gallery figure {
    margin: 0 auto;
}

.gallery .photoA {
    grid-area: A;
}

.gallery .photoB {
    grid-area: B;
}

.gallery .photoC {
    grid-area: C;
}

.gallery .photoD {
    grid-area: D;
}

.gallery .photoE {
    grid-area: E;
}

.gallery .photoF {
    grid-area: F;
}

.gallery .photoG {
    grid-area: G;
}

.gallery .photoH {
    grid-area: H;
}

.gallery .photoI {
    grid-area: I;
}

.gallery .photoJ {
    grid-area: J;
}

.gallery .photoK {
    grid-area: K;
}

.gallery .photoL {
    grid-area: L;
}

.gallery .photoM {
    grid-area: M;
}

.gallery .photoN {
    grid-area: N;
}

.gallery .photoO {
    grid-area: O;
}

.gallery .photoP {
    grid-area: P;
}

.gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
